<a href="https://colab.research.google.com/github/riseex1/bybalex/blob/main/%D0%BB%D0%B0%D0%B1%D0%BE%D1%80%D0%BE%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

задание 1

In [ ]:
integer_var = 42
float_var = 3.14
string_var = "Hello, World!"
boolean_var = True

задание 2

In [ ]:
name = "Илья"
age = 18

# Вывод значений в консоль
print("Имя:", name)
print("Возраст:", age)

задание 3

In [ ]:
num1 = 342
num2 = 56.2
num3 = '43'

sum_result = num1 + num2 + int(num3)

print("Сумма:", sum_result)

задание 4

In [ ]:
a = 3
b = 8

result = (a + 4 * b) * (a - 3 * b) + a ** 2

print("Результат уравнения:", result)

задание 5

In [ ]:
length = float(input("Введите длину прямоугольника: "))
width = float(input("Введите ширину прямоугольника: "))

area = length * width
perimeter = 2 * (length + width)

print("Площадь прямоугольника:", area)
print("Периметр прямоугольника:", perimeter)

задание 6

In [1]:
print("*   *   *")
print(" * * * *")
print("  *   *")

*   *   *
 * * * *
  *   *

задание 7

In [ ]:
x = 10
y = 5

# Арифметические операции
print("Сложение:", x + y)
print("Вычитание:", x - y)
print("Умножение:", x * y)
print("Деление:", x / y)
print("Целочисленное деление:", x // y)
print("Остаток от деления:", x % y)
print("Возведение в степень:", x ** y)

# Операторы сравнения
print("Равно:", x == y)
print("Не равно:", x != y)
print("Больше:", x > y)
print("Меньше:", x < y)
print("Больше или равно:", x >= y)
print("Меньше или равно:", x <= y)

задание 8

In [ ]:
name = "Иван"
age = 25

print(f"Меня зовут {name}, мне {age} лет.")

задание 9

In [ ]:
word1 = "Съешь"
word2 = "ещё"
word3 = "этих"
word4 = "мягких"
word5 = "французских"
word6 = "булок,"
word7 = "да"
word8 = "выпей"
word9 = "чаю"

sentence = word1 + " " + word2 + " " + word3 + " " + word4 + " " + word5 + " " + word6 + " " + word7 + " " + word8 + " " + word9

print(sentence)

задание 10

In [ ]:
sentence = ("Нет! Да! " * 4).strip()

print(sentence)

задание 11

In [ ]:
numbers = input("Введите три числа, разделённых запятой: ")

num1, num2, num3 = map(int, numbers.split(','))

result = (num1 + num3) // num2

print(f"Результат вычисления: {result}")

задание 12

In [ ]:
word = input("Введите слово (не менее 10 символов): ")

print("Первые 4 символа:", word[:4])
print("Последние 2 символа:", word[-2:])
print("Символы от 4 до 8:", word[4:8])
print("Перевёрнутое слово:", word[::-1])